<section id="world-section">
    <div id="section0" class="lg:h-screen p-20 lg:overflow-auto">
        <h1 class="font-blakely text-6xl uppercase tracking-widest text-center">Les 13 plateaux</h1>

        <p class="text-justify p-5"></p>
        <div class="flex flex-wrap justify-center">
            
            <div *ngFor="let world of worlds" 
                class="hover:scale-110 cursor-pointer flex justify-center items-center bg-img w-72 h-40 m-2 opacity-70 hover:opacity-100" 
                [ngStyle]="{'background-image': 'url(../../assets/image/landscape/' + world.image + ')'}"
                (click)="scrollToSection(world.id)">    
                
                <h2 class="bg-light1 mx-5 text-center pt-2 pb-1 px-2 uppercase tracking-widest">{{world.name}}</h2>
                
            </div>

        </div>
    </div>

    <div *ngFor="let world of worlds" 
        class="world p-20 lg:h-screen bg-img lg:overflow-auto" 
        [ngStyle]="{'background-image': 'url(../../assets/image/landscape/' + world.image + ')'}">

            <div class="h-full flex justify-center flex-col gap-5 items-center">

                <div class="bg-light1 rounded p-5 opacity-60 hover:opacity-100">
                    <h2 class="font-blakely text-6xl text-center uppercase tracking-widest mt-2">{{world.name}}</h2>
                    <p  *ngIf="!world.showList" class="text-justify" [innerHTML]="world.description"></p>
                </div>
                <div class="font-blakely text-3xl justify-self-center bg-white8 rounded hover:bg-white cursor-pointer pt-2 pb-1 px-5" (click)="toggleList(world)">
                    <span *ngIf="!world.showList">Les esprits</span><span *ngIf="world.showList">Description du monde</span>
                </div>
                <div *ngIf="world.showList" class="grid grid-cols-3 gap-5">
                    <div *ngFor="let spirit of world.spirits"
                    [ngStyle]="{'background-image': 'url(' + spirit.image + ')'}"
                    class="rounded mb-1 p-5 bg-img opacity-90 hover:opacity-100">
                        <div class="bg-light1 p-2 opacity-0 hover:opacity-100 pt-3">
                            <h3 class="leading-3 font-bold uppercase tracking-widest">{{spirit.name}}</h3>
                            <p class="text-justify font-light leading-3 text-xs" [innerHTML]="spirit.description"></p>
                        </div>
                    </div>
                </div>
    
            </div>
    </div>

</section>