
.open-tree{
    width:100%;
    background-color: var(--white);
}
.open-tree>div:first-child>i{transform: rotate(-180deg);color:var(--white);}
.open-tree>div:first-child{background-color: var(--mid3);}

.open-tree .tree-skill{
    display:block;
}

.dice-base>*{grid-area:1/1/2/2; align-self: center; justify-self: center;}