<nav class="hidden lg:flex fixed z-50 bg-white w-full justify-between pl-20">

  <div class="tracking-widest uppercase font-thin flex">
      <a routerLink="/" class="px-5 hover:text-mid2">Accueil</a>
      <div class="menu">
        <div class="font-bold px-5">Livret du joueur</div>
        <div class="flex flex-col">
          <a class="px-5 hover:bg-white" routerLink="/regles-generales" routerLinkActive="active">Règles générales</a>
          <a class="px-5 hover:bg-white" routerLink="/armes" routerLinkActive="active">Armes</a>
          <a class="px-5 hover:bg-white" routerLink="/magies" routerLinkActive="active">Magies</a>
          <a class="px-5 hover:bg-white" routerLink="/combat" routerLinkActive="active">Combat</a>
          <a class="px-5 hover:bg-white" routerLink="/artisanat" routerLinkActive="active">Artisanat</a>
          <a class="px-5 hover:bg-white" routerLink="/neutre" routerLinkActive="active">Neutre</a>
        </div>
      </div>
      <div class="menu" *ngIf="isLoggedIn();">
        <div class="font-bold px-5">Mes personnages</div>
        <div class="flex flex-col" *ngIf="userData">
          <a [href]="'/personnage/'+character.id+'/'+slugify(character.name)" *ngFor="let character of userData.characters" class="cursor-pointer px-5 hover:bg-white">{{character.name}}</a>
        </div>
      </div>

      <a href="/liste-des-personnages" class="opacity-50 hover:opacity-100 hover:text-mid2 cursor-pointer px-5"><i class="fa-solid fa-users"></i></a>
      <a  *ngIf="isLoggedIn();"  (click)="profile()" class=" hover:text-mid2 cursor-pointer px-5"><i class="fa-solid fa-user"></i></a>
      <a  *ngIf="isLoggedIn();" (click)="logout()" class=" hover:text-mid2 cursor-pointer px-5"><i class="fa-solid fa-right-from-bracket"></i></a>
      
      <a (click)="login()" *ngIf="!isLoggedIn();" class=" hover:text-mid2 cursor-pointer px-5"><i class="fa-solid fa-right-to-bracket"></i></a>
      <a (click)="register()" *ngIf="!isLoggedIn();" class=" hover:text-mid2 cursor-pointer px-5"><i class="fa-solid fa-pen-to-square"></i></a>
  </div>

  <button (click)="toggleTheme()" class="flex gap-2 items-center mr-10">
      <i class="fa-solid fa-sun"></i>
      <span class="w-10 flex items-center bg-light3"><i class="fa-solid fa-circle text-mid2"></i></span>
      <i class="fa-solid fa-moon"></i>
  </button>

</nav>

<nav class="mobile lg:hidden z-50 fixed bg-white w-full h-12 flex justify-between px-2">

  <div class="tracking-widest uppercase font-thin flex">
    <button  (click)="toggleMenu()" class="w-60 flex tracking-widest uppercase font-bold items-center">
      <i class="fa-solid fa-bars text-3xl m-1"></i>
      <span class="text-xl mx-3 text-mid3">SSO</span>
    </button>
    <div *ngIf="isMenuVisible"  (click)="toggleMenu()" class="open-menu absolute top-12 left-0 bg-white w-full">
      <a routerLink="/">Accueil</a>
      <a routerLink="/regles-generales" routerLinkActive="active">Règles générales</a>
      <a routerLink="/armes" routerLinkActive="active">Armes</a>
      <a routerLink="/magies" routerLinkActive="active">Magies</a>
      <a routerLink="/combat" routerLinkActive="active">Combat</a>
      <a routerLink="/artisanat" routerLinkActive="active">Artisanat</a>
      <a routerLink="/neutre" routerLinkActive="active">Neutre</a>
      
      <a  *ngIf="isLoggedIn();"  href="/liste-des-personnages"  class="bg-mid1 hover:text-mid2 cursor-pointer px-5">Liste des personnages</a>
      <a  *ngIf="isLoggedIn();"  (click)="profile()" class="bg-mid1 hover:text-mid2 cursor-pointer px-5">Profil</a>
      <a  *ngIf="isLoggedIn();" (click)="logout()" class="bg-mid1 hover:text-mid2 cursor-pointer px-5">Déconnexion</a>
      
      <a (click)="login()" *ngIf="!isLoggedIn();" class="bg-mid1 hover:text-mid2 cursor-pointer px-5">Connexion</a>
      <a (click)="register()" *ngIf="!isLoggedIn();" class="bg-mid1 hover:text-mid2 cursor-pointer px-5">Inscription</a>

    </div>
  </div>

  <button (click)="toggleTheme()" class="flex gap-2 items-center mr-10">
      <i class="fa-solid fa-sun"></i>
      <span class="w-10 flex items-center bg-light3"><i class="fa-solid fa-circle text-mid2"></i></span>
      <i class="fa-solid fa-moon"></i>
  </button>

</nav>



<!-- Pop up d'inscription -->

<div *ngIf="registerVisible" class="z-50 w-72 popup rounded">
  <h2 class="text-4xl text-center font-blakely uppercase tracking-widest font-normal py-5">Inscription</h2>
  
  <form [formGroup]="formRegister" (ngSubmit)="onSubmitRegister()" class="flex flex-col p-5">

    <label class="font-bold uppercase" for="name">Identifiant</label>
    <div *ngIf="formRegister.get('name')?.hasError('required') && formRegister.get('name')?.touched" class="rounded p-1 uppercase text-xs tracking-widest">
        Identifiant requis.
    </div>
    <input class="p-2 bg-light3" formControlName="name">

    <label class="font-bold uppercase mt-2 pt-2" for="password">Mot de passe</label>
    <div *ngIf="formRegister.get('password')?.hasError('required') && formRegister.get('password')?.touched" class="rounded p-1 uppercase text-xs tracking-widest">
        Mot de passe requis.
    </div>
    <input class="p-2 bg-light3" formControlName="password" type="password">

    <label class="font-bold uppercase mt-2 pt-2" for="code">Code</label>
    <div *ngIf="formRegister.get('code')?.hasError('required') && formRegister.get('code')?.touched" class="rounded p-1 uppercase text-xs tracking-widest">
      Code requis.
    </div>
    <div *ngIf="errorCode" class="rounded p-1 uppercase text-xs tracking-widest mt-2">
      Code incorrect
    </div>
    <input class="p-2 bg-light3" formControlName="code" type="code">

    <button type="submit" class="z-10 font-bold uppercase tracking-widest mt-5 p-1">S'inscrire</button>
    <div *ngIf="invalidCredentialsErrorRegister" class="text-red-500 mt-2">
      Erreur lors de l'inscription
    </div>
  </form>

</div>


<!-- Pop up de connexion -->

<div *ngIf="loginVisible" class="z-50 w-72 popup rounded">
  
  <h2 class="text-4xl text-center font-blakely uppercase tracking-widest font-normal py-5">Connexion</h2>
    
  <form [formGroup]="formLogin" (ngSubmit)="onSubmitLogin()" class="flex flex-col p-5">

    <label class="font-bold uppercase" for="name">Identifiant</label>
    <div *ngIf="formLogin.get('name')?.hasError('required') && formLogin.get('name')?.touched" class="rounded p-1 uppercase text-xs tracking-widest">
        Identifiant requis.
    </div>
    <input  class="p-2 bg-light3" formControlName="name">

    <label class="font-bold uppercase mt-2 pt-2" for="password">Mot de passe</label>
    <div *ngIf="formLogin.get('password')?.hasError('required') && formLogin.get('password')?.touched" class="rounded p-1 uppercase text-xs tracking-widest">
        Mot de passe requis.
    </div>
    <input  class="p-2 bg-light3" formControlName="password" type="password" required>

    <button type="submit" class="hover:text-mid5 z-10 font-bold uppercase tracking-widest mt-5 p-1">Se connecter</button>
    <div *ngIf="invalidCredentialsErrorLogin" class="rounded p-1 uppercase text-xs tracking-widest mt-2">
        Identifiant ou mot de passe incorrect.
    </div>

  </form>
  
  
</div>