<div *ngIf="character" class="opacity-40 bg-img h-screen fixed top-0 left-0 w-screen z-0" [ngStyle]="{'background-image': 'url(../../assets/image/landscape/' + character.group.world.image + ')'}"></div>


<section *ngIf="character" class="grid lg:grid-cols-3 pt-20 pl-5 pr-5 pb-20 gap-3 relative z-10 md:grid-cols-2 grid-cols-1">
    
    <!-- perso info -->
    <div class="md:col-span-2 lg:row-span-2 global bg-white rounded" [ngClass]="{'bg-gradient':formGlobal}">
        
        <app-global *ngIf="!formGlobal"
        [character]="character"
        ></app-global>

        <app-global-form *ngIf="formGlobal && createdByUser" (formSubmitted)="swapGlobal()"
        [character]="character"
        ></app-global-form>

        <div (click)="swapGlobal()" *ngIf="createdByUser" class="uppercase float-right tracking-widest text-mid3 text-xs my-2 mx-5 cursor-pointer">
            <span *ngIf="!formGlobal">Modifier</span>
            <span *ngIf="formGlobal">Annuler</span>
        </div>

    </div>

    <!-- general hors perso -->
    <div class="md:col-start-2 lg:col-start-3 bg-black2 p-2 rounded text-xs uppercase tracking-widest grid grid-cols-2">
        <strong class="justify-self-end text-white pr-3">Joueur</strong><span>{{character.user.name}}</span>
        <strong class="justify-self-end text-white pr-3">Groupe </strong><span>{{character.group.name}}</span>
        <strong class="justify-self-end text-white pr-3">Monde </strong><span>{{character.group.world.name}}</span>
    </div>
    
    <!-- esprit -->
    <div class="md:col-start-2 md:row-span-3 lg:col-start-3 lg:row-span-2 rounded bg-white6 hover:bg-white pb-5 spirit" [ngClass]="{'bg-gradient':formSpirit}">
        <div class="grid">
            <p class="m-3 p-3 bg-white opacity-0 hover:opacity-100 relative z-10 text-sm font-light leading-4 text-justify">{{character.spirit.description}}</p>
            <img [src]="character.spirit.image" class="rounded h-52 overflow-hidden w-full object-cover">
        </div>
        <h2 class="mt-3 mb-0 font-blakely uppercase tracking-widest text-center text-3xl">{{character.spirit.name}}</h2>

        <div (click)="swapSpirit()" *ngIf="createdByUser" class="uppercase text-center tracking-widest text-mid3 text-xs my-2 mx-5 cursor-pointer">
            <span *ngIf="!formSpirit">Modifier</span>
            <span *ngIf="formSpirit">Annuler</span>
        </div>

        <app-spirit *ngIf="!formSpirit"
            [character]="character"
        ></app-spirit>

        <app-spirit-form *ngIf="formSpirit && createdByUser" (formSubmitted)="swapSpirit()"
            [character]="character"
        ></app-spirit-form>

    </div>

    <!-- niveau  -->
    <div class="md:row-start-2 md:row-span-2 lg:row-span-1 lg:col-span-2 lg:row-start-3 rounded bg-white6 hover:bg-white lg:grid items-center lg:grid-cols-3 p-5">

        <div class="text-center">
            <span class="uppercase tracking-widest pt-2">Niveau</span>
            <strong class="block text-3xl">{{character.level}}</strong>
        </div>
        <div class="lg:col-span-2">
            <div>
                <span class="uppercase tracking-widest text-mid4 text-xs pr-2">Points de compétences</span><strong>{{character.pc}}</strong>
            </div>
            <div>
                <span class="uppercase tracking-widest text-mid4 text-xs pr-2">Points d'expériences</span><strong>{{character.xp}} / 10</strong>
            </div>
            <div>
                <span class="uppercase tracking-widest text-mid4 text-xs pr-2">Points de statistiques libres</span><strong>{{character.free_stat}}</strong>
            </div>
            <div class="form-level flex lg:flex-row flex-col gap-3 lg:gap-0 justify-between" *ngIf="createdByUser">
                <form [formGroup]="formAddXp" (ngSubmit)="onSubmitAddXp()" class="flex text-mid3 items-center">

                    <label class="font-bold uppercase tracking-widest text-xs pr-2" for="xp">Ajouter de l'expérience</label>
                    <input class="w-12 p-1 font-bold bg-transparent text-center" formControlName="xp">
                    <button type="submit" class="font-bold text-4xl hover:text-mid5 flex items-center"><i class="fa-solid fa-circle-plus"></i></button>
                    
                </form>
                <button class="lg:ml-10 uppercase tracking-widest bg-mid3 hover:bg-mid5 rounded text-white pt-2 pb-1 px-3" (click)="dead()">Mort
                    <span class="text-light3 text-xs pl-1">(-5XP)</span></button>

            </div>
            
        </div>
        
    </div>

    <!-- stat général -->
    <div class="md:row-start-4 lg:col-start-2 lg:row-span-2 bg-white8 hover:bg-white rounded" [ngClass]="{'bg-gradient':formStatMain}">
        <h2 class="text-center font-blakely text-5xl tracking-widest pt-5">Statistiques</h2>

        <div (click)="swapStatMain()" *ngIf="createdByUser" class="uppercase text-center tracking-widest mx-5 text-mid3 text-xs cursor-pointer">
            <span *ngIf="!formStatMain">Modifier</span>
            <span *ngIf="formStatMain">Annuler</span>
        </div>

        <app-main-statistic *ngIf="!formStatMain"
            [character]="character"
            [createdByUser]="createdByUser"
        ></app-main-statistic>

        <app-main-statistic-form *ngIf="formStatMain && createdByUser" (formSubmitted)="swapStatMain()"
            [character]="character"
        ></app-main-statistic-form>

    </div>

    <!-- stat physic -->
    <div class="lg:col-start-1 lg:row-start-4 bg-white8 hover:bg-white rounded pb-1" [ngClass]="{'bg-gradient':formStatPhysical}">
        <h2 class="text-center font-blakely text-3xl tracking-widest pt-5">Le corps</h2>
        <div (click)="swapStatPhysical()" *ngIf="createdByUser" class="uppercase text-center tracking-widest mx-5 text-mid3 text-xs cursor-pointer">
            <span *ngIf="!formStatPhysical">Modifier</span>
            <span *ngIf="formStatPhysical">Annuler</span>
        </div>

        <app-statistic *ngIf="!formStatPhysical"
            [character]="character"
            [type]="'physical'"
            [createdByUser]="createdByUser"
        ></app-statistic>

        <app-statistic-form *ngIf="formStatPhysical && createdByUser" (formSubmitted)="swapStatPhysical()"
            [character]="character"
            [type]="'physical'"
        ></app-statistic-form>

    </div>
    
    <!-- stat magique -->
    <div class="lg:col-start-3 bg-white8 hover:bg-white rounded pb-1" [ngClass]="{'bg-gradient':formStatMagic}">
        <h2 class="text-center font-blakely text-3xl tracking-widest pt-5">L'esprit</h2>
        <div (click)="swapStatMagic()" *ngIf="createdByUser" class="uppercase text-center tracking-widest mx-5 text-mid3 text-xs cursor-pointer">
            <span *ngIf="!formStatMagic">Modifier</span>
            <span *ngIf="formStatMagic">Annuler</span>
        </div>

        <app-statistic *ngIf="!formStatMagic"
            [character]="character"
            [type]="'magic'"
            [createdByUser]="createdByUser"
        ></app-statistic>

        <app-statistic-form *ngIf="formStatMagic && createdByUser" (formSubmitted)="swapStatMagic()"
            [character]="character"
            [type]="'magic'"
        ></app-statistic-form>

    </div>

    <!-- etat -->
    <div class="md:row-start-5 lg:col-start-2 lg:row-start-6 bg-white6 hover:bg-white rounded p-3 pb-5">
        <h2 class="text-center font-blakely text-3xl tracking-widest pt-2">Etats</h2>

        <div *ngFor="let status of character.statuses" class="status">
            <div class="flex justify-between">
                
                <span class="uppercase tracking-widest font-bold">{{status.name}}</span>
                <div class="grid grid-cols-3 justify-items-center gap-1 items-center">
                    <i (click)="onSubmitAddStatus('minus',status.id)" *ngIf="createdByUser" class="fa-solid fa-circle-minus text-xl text-light5 cursor-pointer hover:text-mid3"></i>
                    <span class="font-bold">{{status.pivot.number}}</span>
                    <i (click)="onSubmitAddStatus('add',status.id)" *ngIf="createdByUser" class="fa-solid fa-circle-plus text-xl text-mid2 cursor-pointer hover:text-mid4"></i>
                </div>
            </div>
            <p class="text-justify text-xs leading-4 font-light text-mid5">
                <strong class="tracking-widest uppercase pr-2 font-bold">Effet</strong>
                {{status.description}}
                <br>
                <strong class="tracking-widest uppercase pr-2 font-bold">Soin</strong>
                {{status.healing}}
            </p>
        </div>
        <div *ngIf="character.statuses.length == 0" class="text-center uppercase tracking-widest text-mid4">Aucune altération d'état</div>
        <div (click)="newturn()" *ngIf="character.statuses.length != 0 && createdByUser" class="text-center uppercase tracking-widest text-mid4 bg-light1 pt-2 pb-1 hover:bg-light3 font-bold text-xs mt-2 cursor-pointer">
            Début de tour
        </div>
        <div *ngIf="statusRecap" class="uppercase mt-1 tracking-widest text-mid4 text-xs">
            {{PVlost}} PV perdu dû aux états <br>
            dont {{brulureDmg}} PV perdu dûes aux brûlures <br>
            {{PVheal}} PV soignés de régénération
        </div>

        <form *ngIf="createdByUser" [formGroup]="formAddStatus" (ngSubmit)="onSubmitAddStatus('new',0)" class="mt-2 dot-top flex flex-col items-center">
            <label for="material" class="uppercase tracking-widest font-bold mt-3">Ajouter status</label>
            <div class="flex gap-3 items-center">
                <select class="w-full p-2 bg-white" id="status_id" name="status" formControlName="status_id">
                    <option *ngFor="let status of statuses" [value]="status.id">{{ status.name }}</option>
                </select>
                <button type="submit" class="font-bold rounded pt-2 pb-1 px-3 mt-2 uppercase tracking-widest bg-light1 flex items-center">Ajouter</button>
            </div>
        </form>

    </div>

    <!-- arme armure -->
    <div class="md:row-start-8 md:col-span-2 lg:row-start-7 lg:col-span-1 bg-white6 hover:bg-white rounded pb-1"  [ngClass]="{'bg-gradient':formWeapon}">
        <h4 class="uppercase mt-3 font-bold text-center">Arme & Armure</h4>
        <div (click)="swapWeapon()" *ngIf="createdByUser" class="uppercase text-center tracking-widest mx-5 text-mid3 text-xs cursor-pointer">
            <span *ngIf="!formWeapon">Modifier</span>
            <span *ngIf="formWeapon">Annuler</span>
        </div>
        <app-stuff *ngIf="!formWeapon"
            [character]="character"
            [type]="'Weapon'"
        ></app-stuff>
        <app-stuff-form *ngIf="formWeapon && createdByUser" (formSubmitted)="swapWeapon()"
            [character]="character"
            [type]="'Weapon'"
        ></app-stuff-form>
    </div>

    <!-- vêtement -->
    <div class="lg:row-span-2 bg-white6 hover:bg-white rounded pb-1"  [ngClass]="{'bg-gradient':formClothe}">
        <h4 class="uppercase mt-3 font-bold text-center">Vêtements & Ornements</h4>
        <div (click)="swapClothe()" *ngIf="createdByUser" class="uppercase text-center tracking-widest mx-5 text-mid3 text-xs cursor-pointer">
            <span *ngIf="!formClothe">Modifier</span>
            <span *ngIf="formClothe">Annuler</span>
        </div>
        <app-stuff *ngIf="!formClothe"
            [character]="character"
            [type]="'Clothe'"
        ></app-stuff>
        <app-stuff-form *ngIf="formClothe && createdByUser" (formSubmitted)="swapClothe()"
            [character]="character"
            [type]="'Clothe'"
        ></app-stuff-form>
    </div>

    <!-- bijoux -->
    <div class="lg:row-span-2 bg-white6 hover:bg-white rounded pb-1"  [ngClass]="{'bg-gradient':formJewelry}">
        <h4 class="uppercase mt-3 font-bold text-center">Bijoux & Pierres</h4>
        <div (click)="swapJewelry()" *ngIf="createdByUser" class="uppercase text-center tracking-widest mx-5 text-mid3 text-xs cursor-pointer">
            <span *ngIf="!formJewelry">Modifier</span>
            <span *ngIf="formJewelry">Annuler</span>
        </div>
        <app-stuff *ngIf="!formJewelry"
            [character]="character"
            [type]="'Jewelry'"
        ></app-stuff>
        <app-stuff-form *ngIf="formJewelry && createdByUser" (formSubmitted)="swapJewelry()"
            [character]="character"
            [type]="'Jewelry'"
        ></app-stuff-form>
    </div>

    <!-- cristaux -->
    <div class="lg:row-start-8 bg-white4 hover:bg-white p-3 rounded">
        <h3 class="uppercase font-bold tracking-widest text-center mt-2">Cristaux</h3>
        <div class="text-3xl text-center tracking-widest font-bold">{{character.money}}</div>
        <form [formGroup]="formAddMoney" *ngIf="createdByUser" class="dot-top pt-3 mt-3 flex flex-col items-center justify-center">
            <input class="w-20 p-1 font-bold bg-transparent text-center mb-2" formControlName="money">
            <div class="flex gap-3">
                <button type="submit" (click)="onSubmitMoney('sub')" class="px-4 text-xs rounded w-full z-10 font-bold uppercase tracking-widest bg-light1 pt-2 pb-1 hover:bg-light3">Retirer</button>
                <button type="submit" (click)="onSubmitMoney('add')" class="px-4 text-xs rounded w-full z-10 font-bold uppercase tracking-widest bg-mid3 pt-2 pb-1 hover:bg-mid5">Ajouter</button>
            </div>
        </form>
    </div>

    <!-- matériaux -->
    <div class="lg:row-span-3 bg-white4 hover:bg-white p-3 rounded">
        <h3 class="text-center font-blakely uppercase tracking-widest text-4xl mb-3">Matériaux</h3>
        
        <div *ngFor="let material of groupedMaterials" class="flex justify-between items-start">
            <div class="material">
                <strong>{{material.name}}</strong>
                <span class="text-mid4 pl-1 uppercase tracking-widest text-2xs">{{material.type_material.label}} - revente {{roundDown(material.price/4)}} C</span>
                <div *ngFor="let table of material.craft_tables" class="text-xs pl-5 mt-1">
                    <div class="uppercase tracking-widest">{{table.craft.name}}</div>
                    <div class="grid" style="grid-template-columns: 1fr 2fr;">
                        <strong class="uppercase pr-1 text-mid4">Médiocre</strong><span>{{table.poor}}</span>
                        <strong class="uppercase pr-1 text-mid4">Correct</strong><span>{{table.fair}}</span>
                        <strong class="uppercase pr-1 text-mid4">Bon</strong><span>{{table.good}}</span>
                        <strong class="uppercase pr-1 text-mid4">Super</strong><span>{{table.super}}</span>
                        <strong class="uppercase pr-1 text-mid4">Excellent</strong><span>{{table.excellent}}</span>
                    </div>
                </div>
                <div *ngIf="material.material_table" class="text-xs pl-5 mt-1">
                    <div class="grid" style="grid-template-columns: 1fr 2fr;">
                        <strong class="uppercase pr-1 text-mid4">Sauvage</strong><span>{{material.material_table.wild}}</span>
                        <strong class="uppercase pr-1 text-mid4">Mystérieux</strong><span>{{material.material_table.mysterious}}</span>
                        <strong class="uppercase pr-1 text-mid4">Elegant</strong><span>{{material.material_table.elegant}}</span>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-3 justify-items-center gap-1 items-center">
                <i *ngIf="createdByUser" (click)="qteInventory('material',material.id,'sub')" class="fa-solid fa-circle-minus text-xl text-light5 cursor-pointer hover:text-mid3"></i>
                <span class="font-bold">{{material.quantity}}</span>
                <i *ngIf="createdByUser" (click)="qteInventory('material',material.id,'add')" class="fa-solid fa-circle-plus text-xl text-mid2 cursor-pointer hover:text-mid4"></i>
            </div>
        </div>

        <form *ngIf="createdByUser" [formGroup]="formAddMaterial" (ngSubmit)="onSubmitAddMaterial()" class="mt-2 dot-top flex flex-col items-center">
            <label for="material" class="uppercase tracking-widest font-bold mt-3">Ajouter un matériaux</label>
            <div class="flex gap-3 items-center justify-center">
                <select class="w-full p-2 bg-white" id="material_id" name="material" formControlName="material_id">
                    <option *ngFor="let material of materials" [value]="material.id">{{ material.name }}</option>
                </select>
                <button type="submit" class="font-bold rounded pt-2 pb-1 px-3 mt-2 uppercase tracking-widest bg-light1 flex items-center">Ajouter</button>
            </div>

        </form>

    </div>

    <!-- inventaire -->
    <div class="lg:row-span-3 bg-white4 hover:bg-white p-3 rounded">
        <h3 class="text-center font-blakely uppercase tracking-widest text-4xl mb-3">Inventaire</h3>
        
        <div *ngFor="let item of character.items" class="flex justify-between items-start">
            <div>
                <strong>{{item.name}}</strong>
                <span class="font-light leading-4 text-justify pl-2" [innerHTML]="item.description"></span>
            </div>
            <div class="grid grid-cols-3 justify-items-center gap-1 items-center">
                <i *ngIf="createdByUser" (click)="qteInventory('item',item.id,'sub')" class="fa-solid fa-circle-minus text-xl text-light5 cursor-pointer hover:text-mid3"></i>
                <span class="font-bold">{{item.quantity}}</span>
                <i *ngIf="createdByUser" (click)="qteInventory('item',item.id,'add')" class="fa-solid fa-circle-plus text-xl text-mid2 cursor-pointer hover:text-mid4"></i>
            </div>
        </div>

        <form *ngIf="createdByUser" [formGroup]="formAddItem" (ngSubmit)="onSubmitAddItem()" class="dot-top flex flex-col items-center">
            <span class="uppercase tracking-widest font-bold mt-3">Ajouter un objet</span>
            <input class="p-1 w-full bg-transparent" formControlName="name" placeholder="nom de l'objet">
            <input class="p-1 font-light w-full bg-transparent" formControlName="description" placeholder="description de l'objet">
            <button type="submit" class="font-bold rounded pt-2 pb-1 px-3 mt-2 uppercase tracking-widest bg-light1 flex items-center">Ajouter</button>
        </form>

    </div>

    <!-- étoiles -->
    <div class="md:row-start-9 lg:row-start-9 bg-white4 hover:bg-white items-center justify-items-center p-3 rounded grid grid-one">
        <i class="text-7xl fa-solid fa-star" [ngClass]="{
            'text-black2':character.star==0,
            'rotate-star text-light1 ':character.star>0
        }"></i>
        <div class="relative z-10">
            <span class="font-blakely uppercase tracking-widest text-4xl">Etoiles</span>
            <div class="flex justify-center gap-4">
                <button (click)="starCount('minus')" *ngIf="createdByUser"><i class="text-mid3 hover:text-mid5 cursor-pointer text-2xl fa-solid fa-circle-minus"></i></button>
                <span class="font-bold text-4xl">{{character.star}}</span>
                
                <button (click)="starCount('plus')" *ngIf="createdByUser"><i class="text-mid3 hover:text-mid5 cursor-pointer text-2xl fa-solid fa-circle-plus"></i></button>
            </div>
        </div>
    </div>

    <div class="md:col-span-2 lg:col-span-3 bg-mid4 text-white opacity-80 text-center rounded font-bold uppercase tracking-widest pt-2 pb-1">Compétences</div>

    <!-- arbres -->
    <div class="md:col-span-2 lg:col-start-2 flex flex-col gap-3">
            
        <app-character-tree *ngFor="let tree of character.trees" 
            [tree]="tree"
            [character]="character"
            [createdByUser]="createdByUser"
        ></app-character-tree>

        <button *ngIf="createdByUser" class="bg-mid4 text-white rounded uppercase tracking-widest hover:bg-mid2 font-bold pt-2 pb-1" (click)="openTree()">AJouter un arbre de compétences</button>

        <div *ngIf="openTreeForm && character.pc < 1" class="uppercase tracking-widest text-xs font-bold">Pas assez de PC pour débloquer un nouvel arbre (1PC)</div>
        
        <div *ngIf="openTreeForm && character.pc > 0" class="bg-gradient">
            
            
            <form [formGroup]="formNewTree" (ngSubmit)="onSubmitNewTree()" class="flex flex-col p-5">

                <div class="flex flex-col mt-2 mb-5">
                    <label class="uppercase font-bold text-white tracking-widest" for="treeType">Type d'arbre</label>
                    <select class="bg-white6 hover:bg-white8 pt-2 pb-1 px-2" id="treeType" formControlName="treeType">
                      <option value=""></option>
                      <option value="physical">Maniement d'arme</option>
                      <option value="magical">Manipulation magique</option>
                    </select>
                  </div>
              
                <div class="flex flex-col mt-2" *ngIf="formNewTree.get('treeType')?.value === 'physical'">
                  <label class="uppercase font-bold text-white tracking-widest" for="physicalTree">Maniement d'arme</label>
                  <select class="bg-white6 hover:bg-white8 pt-2 pb-1 px-2" id="physicalTree" formControlName="physicalTree">
                    <option value="">Sélectionner une arme</option>
                    <option *ngFor="let tree of filteredPhysicalTrees" [value]="tree.id">{{ tree.name }}</option>
                  </select>
                </div>
              
                <div class="flex flex-col mt-2" *ngIf="formNewTree.get('treeType')?.value === 'magical'">
                  <label class="uppercase font-bold text-white tracking-widest" for="magicalTree">Manipulation magique</label>
                  <select class="bg-white6 hover:bg-white8 pt-2 pb-1 px-2" id="magicalTree" formControlName="magicalTree">
                    <option value="">Sélectionner une magie</option>
                    <option *ngFor="let tree of filteredMagicalTrees" [value]="tree.id">{{ tree.name }}</option>
                  </select>
                </div>
              
                <button type="submit" class="hover:text-mid5 z-10 font-bold uppercase tracking-widest mt-5 p-1">Débloquer un nouvel arbre (1 PC)</button>              
            </form>
              


        </div>
 
    </div>

    <!-- neutre  -->
    <div class="md:col-span-2 md:grid md:grid-col-2 lg:row-start-11 lg:col-span-1 lg:flex lg:flex-col flex flex-col gap-3">
    
        <app-neutral-skill *ngFor="let skill of character.fight_skills" 
            [skill]="skill"
            [character]="character"
            [type]="'Combat'"
            [createdByUser]="createdByUser"
        ></app-neutral-skill>
        <app-neutral-skill *ngFor="let skill of character.neutral_skills" 
            [skill]="skill"
            [character]="character"
            [type]="'Neutre'"
            [createdByUser]="createdByUser"
        ></app-neutral-skill>
        <app-neutral-skill *ngFor="let skill of character.craft_skills" 
            [skill]="skill"
            [character]="character"
            [type]="'Artisanat'"
            [createdByUser]="createdByUser"
        ></app-neutral-skill>
        <app-neutral-skill *ngFor="let skill of character.personnal_skills" 
            [skill]="skill"
            [character]="character"
            [type]="'Autre'"
            [createdByUser]="createdByUser"
        ></app-neutral-skill>

        <button *ngIf="createdByUser" class="md:col-span-2 bg-mid4 text-white rounded uppercase tracking-widest hover:bg-mid2 font-bold pt-2 pb-1" (click)="openNeutralSkill()">AJouter une compétence neutre</button>

        <div *ngIf="openNeutralSkillForm && character.pc < 1" class="md:col-span-2 uppercase tracking-widest text-xs font-bold">Pas assez de PC pour débloquer une nouvelle compétence (1PC)</div>
        
        <div *ngIf="openNeutralSkillForm && character.pc > 0" class="md:col-span-2 bg-gradient">

            <form [formGroup]="formNewNeutralSkill" (ngSubmit)="onSubmitNewNeutralSkill()" class="flex flex-col p-5">

                <div class="flex flex-col mt-2 mb-5">
                  <label class="uppercase font-bold text-white tracking-widest" for="skillType">Type de compétence</label>
                  <select class="bg-white6 hover:bg-white8 pt-2 pb-1 px-2" id="skillType" formControlName="skillType">
                    <option value="">Sélectionner un type</option>
                    <option value="neutral">Compétence neutre</option>
                    <option value="fight">Compétence de combat</option>
                    <option value="craft">Compétence d'artisanat</option>
                  </select>
                </div>
              
                <div class="flex flex-col mt-2" *ngIf="formNewNeutralSkill.get('skillType')?.value === 'neutral'">
                  <label class="uppercase font-bold text-white tracking-widest" for="neutralSkill">Compétence neutre</label>
                  <select class="bg-white6 hover:bg-white8 pt-2 pb-1 px-2" id="neutralSkill" formControlName="neutralSkill">
                    <option value="">Sélectionner une compétence neutre</option>
                    <option *ngFor="let skill of filteredNeutralSkills" [value]="skill.id">{{ skill.name }}</option>
                  </select>
                </div>
              
                <div class="flex flex-col mt-2" *ngIf="formNewNeutralSkill.get('skillType')?.value === 'fight'">
                  <label class="uppercase font-bold text-white tracking-widest" for="fightSkill">Compétence de combat</label>
                  <select class="bg-white6 hover:bg-white8 pt-2 pb-1 px-2" id="fightSkill" formControlName="fightSkill">
                    <option value="">Sélectionner une compétence de combat</option>
                    <option *ngFor="let skill of filteredFightSkills" [value]="skill.id">{{ skill.name }}</option>
                  </select>
                </div>
              
                <div class="flex flex-col mt-2" *ngIf="formNewNeutralSkill.get('skillType')?.value === 'craft'">
                  <label class="uppercase font-bold text-white tracking-widest" for="craftSkill">Compétence d'artisanat</label>
                  <select class="bg-white6 hover:bg-white8 pt-2 pb-1 px-2" id="craftSkill" formControlName="craftSkill">
                    <option value="">Sélectionner une compétence d'artisanat</option>
                    <option *ngFor="let skill of filteredCraftSkills" [value]="skill.id">{{ skill.name }}</option>
                  </select>
                </div>
              
                <button type="submit" class="hover:text-mid5 z-10 font-bold uppercase tracking-widest mt-5 p-1">Ajouter la compétence (1PC)</button>
              
              </form>
              
        </div>
        
    </div>
    

</section>