<div *ngIf="character" class="opacity-40 bg-img h-screen fixed top-0 left-0 w-screen z-0" [ngStyle]="{'background-image': 'url(../../assets/image/landscape/' + character.group.world.image + ')'}"></div>


<section *ngIf="character" class="grid lg:grid-cols-3 pt-20 pl-5 pr-5 pb-20 gap-3 relative z-10 md:grid-cols-2 grid-cols-1">
    
    <div class="global col-span-2 row-span-2 bg-white rounded" [ngClass]="{'bg-gradient':formGlobal}">
        
        <app-global *ngIf="!formGlobal"
        [character]="character"
        ></app-global>

        <app-global-form *ngIf="formGlobal && createdByUser" (formSubmitted)="swapGlobal()"
        [character]="character"
        ></app-global-form>

        <div (click)="swapGlobal()" *ngIf="createdByUser" class="uppercase float-right tracking-widest text-mid3 text-xs my-2 mx-5 cursor-pointer">
            <span *ngIf="!formGlobal">Modifier</span>
            <span *ngIf="formGlobal">Annuler</span>
        </div>

    </div>

    <div class="p-2 bg-black2 rounded text-xs uppercase tracking-widest grid grid-cols-2">
        <strong class="justify-self-end text-white pr-3">Joueur</strong><span>{{character.user.name}}</span>
        <strong class="justify-self-end text-white pr-3">Groupe </strong><span>{{character.group.name}}</span>
        <strong class="justify-self-end text-white pr-3">Monde </strong><span>{{character.group.world.name}}</span>
    </div>

    <div class="rounded bg-white6 hover:bg-white pb-5 row-span-2 spirit" [ngClass]="{'bg-gradient':formSpirit}">
        <div class="grid">
            <p class="m-3 p-3 bg-white opacity-0 hover:opacity-100 relative z-10 text-sm font-light leading-4 text-justify">{{character.spirit.description}}</p>
            <img [src]="character.spirit.image" class="rounded h-52 overflow-hidden w-full object-cover">
        </div>
        <h2 class="mt-3 mb-0 font-blakely uppercase tracking-widest text-center text-3xl">{{character.spirit.name}}</h2>

        <div (click)="swapSpirit()" *ngIf="createdByUser" class="uppercase text-center tracking-widest text-mid3 text-xs my-2 mx-5 cursor-pointer">
            <span *ngIf="!formSpirit">Modifier</span>
            <span *ngIf="formSpirit">Annuler</span>
        </div>

        <app-spirit *ngIf="!formSpirit"
            [character]="character"
        ></app-spirit>

        <app-spirit-form *ngIf="formSpirit && createdByUser" (formSubmitted)="swapSpirit()"
            [character]="character"
        ></app-spirit-form>

    </div>

    <div class="col-span-2 rounded bg-white6 hover:bg-white grid items-center grid-cols-3 p-5">

        <div class="text-center">
            <span class="uppercase tracking-widest pt-2">Niveau</span>
            <strong class="block text-3xl">{{character.level}}</strong>
        </div>
        <div class="col-span-2">
            <div>
                <span class="uppercase tracking-widest text-mid4 text-xs pr-2">Points de compétences</span><strong>{{character.pc}}</strong>
            </div>
            <div>
                <span class="uppercase tracking-widest text-mid4 text-xs pr-2">Points d'expériences</span><strong>{{character.xp}} / 10</strong>
            </div>
            <div class="form-level flex justify-between">
                <form [formGroup]="formAddXp" *ngIf="createdByUser" (ngSubmit)="onSubmitAddXp()" class="flex text-mid3 items-center">

                    <label class="font-bold uppercase tracking-widest text-xs pr-2" for="xp">Ajouter de l'expérience</label>
                    <input class="w-12 p-1 font-bold bg-transparent text-center" formControlName="xp">
                    <button type="submit" class="font-bold text-4xl hover:text-mid5 flex items-center"><i class="fa-solid fa-circle-plus"></i></button>
                    
                </form>
                <button class="ml-10 uppercase tracking-widest bg-mid3 hover:bg-mid5 rounded text-white pt-2 pb-1 px-3" (click)="dead()">Mort
                    <span class="text-light3 text-xs pl-1">(-5XP)</span></button>

            </div>
            
        </div>
        
    </div>

    <div class="bg-white8 hover:bg-white rounded pb-1" [ngClass]="{'bg-gradient':formStatPhysical}">
        <h2 class="text-center font-blakely text-3xl tracking-widest pt-5">Le corps</h2>
        <div (click)="swapStatPhysical()" *ngIf="createdByUser" class="uppercase text-center tracking-widest mx-5 text-mid3 text-xs cursor-pointer">
            <span *ngIf="!formStatPhysical">Modifier</span>
            <span *ngIf="formStatPhysical">Annuler</span>
        </div>

        <app-statistic *ngIf="!formStatPhysical"
            [character]="character"
            [type]="'physical'"
            [createdByUser]="createdByUser"
        ></app-statistic>

        <app-statistic-form *ngIf="formStatPhysical && createdByUser" (formSubmitted)="swapStatPhysical()"
            [character]="character"
            [type]="'physical'"
        ></app-statistic-form>

    </div>
    <div class="bg-white8 row-span-2 hover:bg-white rounded" [ngClass]="{'bg-gradient':formStatMain}">
        <h2 class="text-center font-blakely text-5xl tracking-widest pt-5">Statistiques</h2>

        <div (click)="swapStatMain()" *ngIf="createdByUser" class="uppercase text-center tracking-widest mx-5 text-mid3 text-xs cursor-pointer">
            <span *ngIf="!formStatMain">Modifier</span>
            <span *ngIf="formStatMain">Annuler</span>
        </div>

        <app-main-statistic *ngIf="!formStatMain"
            [character]="character"
            [createdByUser]="createdByUser"
        ></app-main-statistic>

        <app-main-statistic-form *ngIf="formStatMain && createdByUser" (formSubmitted)="swapStatMain()"
            [character]="character"
        ></app-main-statistic-form>

    </div>
    <div class="bg-white8 hover:bg-white rounded pb-1" [ngClass]="{'bg-gradient':formStatMagic}">
        <h2 class="text-center font-blakely text-3xl tracking-widest pt-5">L'esprit</h2>
        <div (click)="swapStatMagic()" *ngIf="createdByUser" class="uppercase text-center tracking-widest mx-5 text-mid3 text-xs cursor-pointer">
            <span *ngIf="!formStatMagic">Modifier</span>
            <span *ngIf="formStatMagic">Annuler</span>
        </div>

        <app-statistic *ngIf="!formStatMagic"
            [character]="character"
            [type]="'magic'"
            [createdByUser]="createdByUser"
        ></app-statistic>

        <app-statistic-form *ngIf="formStatMagic && createdByUser" (formSubmitted)="swapStatMagic()"
            [character]="character"
            [type]="'magic'"
        ></app-statistic-form>

    </div>
    
    <div class="bg-white6 row-span-3 hover:bg-white rounded pb-1"  [ngClass]="{'bg-gradient':formClothe}">
        <h4 class="uppercase mt-3 font-bold text-center">Vêtements & Ornements</h4>
        <div (click)="swapClothe()" *ngIf="createdByUser" class="uppercase text-center tracking-widest mx-5 text-mid3 text-xs cursor-pointer">
            <span *ngIf="!formClothe">Modifier</span>
            <span *ngIf="formClothe">Annuler</span>
        </div>
        vêtements
    </div>
    <div class="bg-white6 row-span-3 hover:bg-white rounded pb-1"  [ngClass]="{'bg-gradient':formJewelry}">
        <h4 class="uppercase mt-3 font-bold text-center">Bijoux & Pierres</h4>
        <div (click)="swapJewelry()" *ngIf="createdByUser" class="uppercase text-center tracking-widest mx-5 text-mid3 text-xs cursor-pointer">
            <span *ngIf="!formJewelry">Modifier</span>
            <span *ngIf="formJewelry">Annuler</span>
        </div>
        bijoux
    </div>
    <div class="bg-white6 hover:bg-white rounded pb-1"  [ngClass]="{'bg-gradient':formWeapon}">
        <h4 class="uppercase mt-3 font-bold text-center">Arme</h4>
        <div (click)="swapWeapon()" *ngIf="createdByUser" class="uppercase text-center tracking-widest mx-5 text-mid3 text-xs cursor-pointer">
            <span *ngIf="!formWeapon">Modifier</span>
            <span *ngIf="formWeapon">Annuler</span>
        </div>
        arme
    </div>
    <div class="bg-white6 hover:bg-white rounded pb-1"  [ngClass]="{'bg-gradient':formArmor}">
        <h4 class="uppercase mt-3 font-bold text-center">Armure</h4>
        <div (click)="swapArmor()" *ngIf="createdByUser" class="uppercase text-center tracking-widest mx-5 text-mid3 text-xs cursor-pointer">
            <span *ngIf="!formArmor">Modifier</span>
            <span *ngIf="formArmor">Annuler</span>
        </div>
        armure
    </div>

    <div class="col-span-3 bg-mid4 text-white opacity-80 text-center rounded font-bold uppercase tracking-widest pt-2 pb-1">Compétences</div>

    <div class="flex flex-col gap-3 ">
    
        <app-neutral-skill *ngFor="let skill of character.fight_skills" 
            [skill]="skill"
            [character]="character"
            [type]="'Combat'"
        ></app-neutral-skill>
        <app-neutral-skill *ngFor="let skill of character.neutral_skills" 
            [skill]="skill"
            [character]="character"
            [type]="'Neutre'"
        ></app-neutral-skill>
        <app-neutral-skill *ngFor="let skill of character.craft_skills" 
            [skill]="skill"
            [character]="character"
            [type]="'Artisanat'"
        ></app-neutral-skill>
        <app-neutral-skill *ngFor="let skill of character.personnal_skills" 
            [skill]="skill"
            [character]="character"
            [type]="'Autre'"
        ></app-neutral-skill>

        <button class="bg-mid4 text-white rounded uppercase tracking-widest hover:bg-mid2 font-bold pt-2 pb-1" (click)="addNeutralSkill()">AJouter une compétence neutre</button>

    </div>
    <div class="flex flex-col gap-3 col-start-2 col-span-2">
            
        <app-character-tree *ngFor="let tree of character.trees" 
            [tree]="tree"
            [character]="character"
        ></app-character-tree>

    </div>

</section>