section{
    max-width: 80em;
    margin:auto;
    grid-template-rows: auto;
}

.quest-completed{
    color:var(--mid4);
}
.quest-completed>div,
.spirit-murmur>p,
.head-spirit>p{display: none;}
.quest-completed:hover>div,
.spirit-murmur:hover>p,
.head-spirit:hover>p{display: block;}
