<div *ngIf="character" class="opacity-40 bg-img h-screen fixed top-0 left-0 w-screen z-0" [ngStyle]="{'background-image': 'url(../../assets/image/landscape/' + character.group.world.image + ')'}"></div>


<section *ngIf="character" class="items-start grid lg:grid-cols-3 pt-20 pl-5 pr-5 pb-20 gap-3 relative z-10 md:grid-cols-2 grid-cols-1">
    
    <div class="global col-span-2 row-span-2 bg-white rounded">
        
        <app-global *ngIf="!globalForm"
        [character]="character"
        ></app-global>

        <app-global-form *ngIf="globalForm"
        [character]="character"
        ></app-global-form>

        <div (click)="swapGlobal()" class="uppercase float-right tracking-widest text-mid3 text-xs my-2 mx-5 cursor-pointer">
            <span *ngIf="!globalForm">Modifier</span>
            <span *ngIf="globalForm">Annuler</span>
        </div>

    </div>

    <div class="p-2 bg-black2 rounded text-xs uppercase tracking-widest grid grid-cols-2">
        <strong class="justify-self-end text-white pr-3">Joueur</strong><span>{{character.user.name}}</span>
        <strong class="justify-self-end text-white pr-3">Groupe </strong><span>{{character.group.name}}</span>
        <strong class="justify-self-end text-white pr-3">Monde </strong><span>{{character.group.world.name}}</span>
    </div>

    <div class="rounded bg-white6 hover:bg-white pb-5 row-span-2 spirit">
        <div class="grid">
            <p class="m-3 p-3 bg-white opacity-0 hover:opacity-100 relative z-10 text-sm font-light leading-4 text-justify">{{character.spirit.description}}</p>
            <img [src]="character.spirit.image" class="rounded h-52 overflow-hidden w-full object-cover">
        </div>
        <h2 class="mt-3 mb-0 font-blakely uppercase tracking-widest text-center text-3xl">{{character.spirit.name}}</h2>

        <app-spirit
            [character]="character"
        ></app-spirit>

    </div>
    <div>opôp^p</div>
</section>