
aside>div span{
    margin:1em 0em .1em 0em;
    letter-spacing: .1em;
    font-weight: 200;
    color:var(--mid4);
    text-transform: uppercase;
    display: block;
}

.status>span>div{
    position:absolute;
    width:20em;
    background-color: var(--light2);
    padding:.8em;
    text-transform: none;
    line-height: 1em;
    display:none;
    text-align: justify;
}
.status>span:hover>div{
    display:block;
}

.filter-select{
    background:var(--white);
    color:var(--mid4);
}