
aside>div span{
    margin:1em 0em .1em 0em;
    letter-spacing: .1em;
    font-weight: 200;
    color:var(--mid4);
    text-transform: uppercase;
    display: block;
}


.filter-select{
    background:var(--white);
    color:var(--mid4);
}