<aside class="lg:fixed lg:w-80 top-20 right-6 bg-light3 pt-24 pl-5 pb-5 pr-5 lg:p-5">
    <span class="block font-blakely text-4xl -mt-8">Filtres</span>
    <div>
        <span class="mr-1 text-right">Dès</span>
        <div class="flex flex-wrap justify-end"> 
            <button class="uppercase rounded block text-xs bg-light4 tracking-widest pt-1 pr-2 pl-2 pb-0 mr-2"
                    [ngClass]="{'filter-select': selectedDice.has('D4')}"
                    (click)="toggleFilter(selectedDice, 'D4')">D4</button>
            <button class="uppercase rounded block text-xs bg-light4 tracking-widest pt-1 pr-2 pl-2 pb-0 mr-2"
                    [ngClass]="{'filter-select': selectedDice.has('D6')}"
                    (click)="toggleFilter(selectedDice, 'D6')">D6</button>
            <button class="uppercase rounded block text-xs bg-light4 tracking-widest pt-1 pr-2 pl-2 pb-0 mr-2"
                    [ngClass]="{'filter-select': selectedDice.has('D8')}"
                    (click)="toggleFilter(selectedDice, 'D8')">D8</button>
            <button class="uppercase rounded block text-xs bg-light4 tracking-widest pt-1 pr-2 pl-2 pb-0 mr-2"
                    [ngClass]="{'filter-select': selectedDice.has('D10')}"
                    (click)="toggleFilter(selectedDice, 'D10')">D10</button>
        </div>
    </div>
    <div>
        <span class="ml-1 text-right">Statistiques</span> 
        <div class="flex flex-wrap justify-end"> 
            <button class="uppercase rounded block text-xs bg-light4 tracking-widest pt-1 pr-2 pl-2 pb-0 mr-2"
                    *ngFor="let statistic of statistics"
                    [ngClass]="{'filter-select': selectedStatistics.has(statistic.abreviation)}"
                    (click)="toggleFilter(selectedStatistics, statistic.abreviation)">{{ statistic.abreviation }}</button>
        </div>
    </div>
    <div>
        <span class="ml-1 text-right">Portée</span>
        <div class="flex flex-wrap justify-end"> 
            <button class="uppercase rounded block text-xs bg-light4 tracking-widest pt-1 pr-2 pl-2 pb-0 m-1"
                    *ngFor="let range of ranges"
                    [ngClass]="{'filter-select': selectedRanges.has(range.label)}"
                    (click)="toggleFilter(selectedRanges, range.label)">{{ range.label }}</button>
        </div>
    </div>
    <div>
        <span class="ml-1 text-right">Types de dégâts</span>
        <div class="flex flex-wrap justify-end"> 
            <button class="uppercase rounded block text-xs bg-light4 tracking-widest pt-1 pr-2 pl-2 pb-0 m-1"
                    *ngFor="let type of damages"
                    [ngClass]="{'filter-select': selectedDamages.has(type.label)}"
                    (click)="toggleFilter(selectedDamages, type.label)">{{ type.label }}</button>
        </div>
    </div>
    <div>
        <span class="ml-1 text-right">Stéréotypes</span>
        <div class="flex flex-wrap justify-end"> 
            <button class="uppercase rounded block text-xs bg-light4 tracking-widest pt-1 pr-2 pl-2 pb-0 m-1"
                    *ngFor="let stereotype of stereotypes"
                    [ngClass]="{'filter-select': selectedStereotypes.has(stereotype.label)}"
                    (click)="toggleFilter(selectedStereotypes, stereotype.label)">{{ stereotype.label }}</button>
        </div>
    </div>
</aside>


<section class="mr-5 ml-5 md:mr-20 lg:mr-96 pt-20 md:ml-20 mb-20">

    <h1 class="font-blakely text-7xl text-right">Les magies</h1>
    
    <div class="text-right">
        <span class="text-mid4 text-sm italic">Compétences infligeant des dégâts magiques et se jouant sur les statistiques d'esprit</span>
        <br>
        <span class="uppercase text-mid3 tracking-widest">compétence - 1pc | amélioration - 2pc | Amélioration d'ultime - 3 PC | Ultime - 5 PC</span>
    </div>

    <div class="flex gap-5 mt-5 flex-wrap justify-end">

        <div *ngFor="let tree of filteredTrees" class="open-tree w-96 bg-white4 hover:bg-white6 p-5" [ngClass]="{'open-tree': isOpen(tree.id)}">
            <div class="-mt-8 float-right w-14 h-14 text-3xl cursor-pointer hover:bg-mid1 hover:scale-110 flex justify-center items-center rounded-full bg-light3">
                <i class="fa-solid fa-angles-down text-mid5" (click)="openTree(tree.id)"></i>
            </div>
            <h2 (click)="openTree(tree.id)" class="cursor-pointer font-blakely text-5xl">{{ tree.name }}</h2>
            
            <span class="uppercase text-xs pt-1 pl-2 pr-2 bg-light2 rounded mr-1 mb-1 tracking-widest text-mid5" *ngFor="let stereotype of tree.stereotypes">{{ stereotype.label }}</span>
            <em class="text-justify mt-1 font-light leading-5 block leading-4">{{ tree.description }}</em>
            <div class="my-2 flex items-center gap-3">
                <div class="grid dice-base">
                    <i class="fa-solid fa-dice-d20 text-light2 text-6xl"></i>
                    <span class="font-bold tracking-widest text-2xl">{{ tree.dice }}</span>
                </div>
                <div class="text-xs">
                    <strong class="text-mid3 uppercase">Portée</strong>  -  {{ tree.range.label }}
                    <br>
                    <strong class="text-mid3 uppercase">Type de dégâts</strong> - {{ tree.type_damage.label }}
                    <br>
                    <strong class="text-mid3 uppercase">Statistiques </strong> <span *ngFor="let statistic of tree.statistics"> - {{ statistic.abreviation }}</span>
                    <span *ngIf="tree.statuses.length > 0">
                        <br>
                        <strong class="text-mid3 uppercase">Status </strong>
                        <span class="status" *ngFor="let status of tree.statuses">
                             - <span class="decoration-1 cursor-pointer underline decoration-dotted decoration-mid3">{{ status.name }}
                                <div>
                                    <strong class="uppercase text-mid4">Effet - </strong>{{ status.description }}
                                    <br> <br>
                                    <strong class="uppercase text-mid4">Soin - </strong>{{ status.healing }}
                                </div>
                            </span>
                        </span>               
                    </span>

                </div>
            </div>
            
            <div class="tree-skill hidden mt-5">
                <h3 class="font-bold text-lg uppercase tracking-widest">Les compétences</h3>
                <div class="mt-2">
                    <div class="text-xs text-black4 italic"><span class="font-bold uppercase tracking-widest">Passif inné </span> <span>(Passif débloqué uniquement lorsque l'arme a été choisie à la création du personnage)</span></div>
                    <span class="font-bold uppercase tracking-widest text-mid3  text-sm">{{ tree.passive_innate }} </span> - <span class="font-light">{{ tree.passive_innate_description }}</span>
                </div>
                <div class="xl:grid-cols-4 md:grid-cols-2 grid gap-2 mt-5">
                    <div *ngFor="let skill of tree.skills">
                        <div class="flex justify-center items-center">
                            <span class="font-blakely text-4xl text-center pr-2">{{ skill.name }}</span>
                            <span *ngIf="skill.statistics.length > 0">
                                <span class="bg-light1 m-1 pt-1 pr-1 pl-1 text-mid4 rounded" *ngFor="let statistic of skill.statistics">{{ statistic.abreviation }}</span>
                            </span>
                        </div>
                        <div class="uppercase rounded text-xs pt-1 text-center tracking-widest" [ngClass]="{
                            'bg-light2': skill.type_skill_id === 1,
                            'bg-light4': skill.type_skill_id === 2 ||  skill.type_skill_id === 3
                          }">
                          {{ skill.type_skill.label }}
                        </div>
                        <div *ngIf="skill.statuses.length > 0" class="bg-light1 pt-1 pr-2 pl-2 rounded mt-2 text-xs">
                            <strong class="text-mid3 uppercase tracking-widest">Status </strong>
                            <span class="status" *ngFor="let status of skill.statuses">
                                 - <span class="decoration-1 cursor-pointer underline decoration-dotted decoration-mid3">{{ status.name }}
                                    <div>
                                        <strong class="uppercase text-mid4">Effet - </strong>{{ status.description }}
                                        <br> <br>
                                        <strong class="uppercase text-mid4">Soin - </strong>{{ status.healing }}
                                    </div>
                                </span>
                            </span>               
                        </div>

                        <p class="text-justify leading-4 font-light my-3">
                            {{ skill.description }}
                        </p>
                        <p class="text-justify leading-4 font-light my-3">
                            <span class="font-bold uppercase block text-xs text-mid3 tracking-widest">Amélioration</span>
                            {{ skill.upgrade }}
                        </p>
                        <p class="text-justify leading-4 font-light my-3">
                            <span class="font-bold uppercase block text-xs text-mid3 tracking-widest">Amélioration d'ultime</span>
                            {{ skill.ultimate_upgrade }}
                        </p>
                    </div>
                </div>
                <div class="mt-5">
                    <div class="font-blakely text-5xl text-center">{{ tree.ultimate_skill }}</div>
                    <div class="uppercase rounded text-xs pt-1 bg-mid2 text-white text-center tracking-widest"> Ultime </div>
                    <p class="my-5 text-justify leading-4 font-light">{{ tree.ultimate_skill_description }}</p>
                </div>

            </div>

        </div>

    </div>

</section>
