<section class="pt-40">

    <h1 class="text-center font-blakely text-6xl uppercase tracking-widest">Username</h1>


    <div class="flex gap-3 justify-center flex-wrap mt-10">

        
        <app-character-card 
        [name]="'Nom du personnage'"
        [id]="5"
        [image]="'https://cdn.midjourney.com/b86293da-4d93-4f9f-9279-f4126acfeb05/0_3.png'"
        [level]="18"
        [group]="'groupe1'"
        [world]="'forêt'"
        [user]="''"
        [description]="'Une petite description ici, un texte blablabla blablabla'"
        ></app-character-card>


        
        <app-character-card 
        [name]="'Nom du personnage'"
        [id]="5"
        [image]="'https://cdn.midjourney.com/b86293da-4d93-4f9f-9279-f4126acfeb05/0_3.png'"
        [level]="18"
        [group]="'groupe1'"
        [world]="'forêt'"
        [user]="'patpat'"
        [description]="'Une petite description ici, un texte blablabla blablabla'"
        ></app-character-card>


        
        <app-character-card 
        [name]="'Nom du personnage'"
        [id]="5"
        [image]="'https://cdn.midjourney.com/b86293da-4d93-4f9f-9279-f4126acfeb05/0_3.png'"
        [level]="18"
        [group]="'groupe1'"
        [world]="'forêt'"
        [user]="'patpat'"
        [description]="'Une petite description ici, un texte blablabla blablabla'"
        ></app-character-card>


        
        <app-character-card 
        [name]="'Nom du personnage'"
        [id]="5"
        [image]="'https://cdn.midjourney.com/b86293da-4d93-4f9f-9279-f4126acfeb05/0_3.png'"
        [level]="18"
        [group]="'groupe1'"
        [world]="'forêt'"
        [user]="'patpat'"
        [description]="'Une petite description ici, un texte blablabla blablabla'"
        ></app-character-card>


        
        <app-character-card 
        [name]="'Nom du personnage'"
        [id]="5"
        [image]="'https://cdn.midjourney.com/b86293da-4d93-4f9f-9279-f4126acfeb05/0_3.png'"
        [level]="18"
        [group]="'groupe1'"
        [world]="'forêt'"
        [user]="'patpat'"
        [description]="'Une petite description ici, un texte blablabla blablabla'"
        ></app-character-card>



    </div>

</section>