
<img [src]="character.image" class="rounded h-72 overflow-hidden w-full object-cover">
<h1 class="text-center font-blakely uppercase tracking-widest text-5xl mt-5">{{character.name}}</h1>
<p class="text-justify px-5 mb-5 leading-4 font-light h-40 overflow-auto mt-3" [innerHTML]="character.description"></p>


<form [formGroup]="formCharacter" (ngSubmit)="onSubmitCharacter()" class="flex flex-col p-5">

    <label class="font-bold uppercase" for="name">Nom du personnage</label>
    <div *ngIf="formCharacter.get('name')?.hasError('required') && formCharacter.get('name')?.touched" class="rounded p-1 uppercase text-xs tracking-widest">
        Nom obligatoire
    </div>
    <input class="p-2 bg-light3" formControlName="name" [(ngModel)]="character.name">

    <label class="font-bold uppercase mt-2 pt-2" for="image">Image</label>
    <div *ngIf="formCharacter.get('image')?.hasError('required') && formCharacter.get('image')?.touched" class="rounded p-1 uppercase text-xs tracking-widest">
        Image requise
    </div>
    {{character.image}}
    <input class="p-2 bg-light3" formControlName="image" [(ngModel)]="character.image">

    {{character.description}}
    <label class="font-bold uppercase mt-2 pt-2" for="description">Description</label>
    <textarea class="p-2 h-full" formControlName="description" [(ngModel)]="character.description"></textarea>


    <button type="submit" class="z-10 font-bold uppercase tracking-widest mt-5 p-1">Valider</button>
  </form>
