
<section class="w-full flex justify-center flex-col items-center">

    <span class="uppercase tracking-widest pt-1 pr-3 pl-3 rounded bg-light3 text-xs text-dark1 mb-5 text-center">Jeu de rôle</span>
    <h1 class="text-8xl font-blakely z-10 text-center">Soul Spirit Online</h1>

    <div class="grid items-center justify-center -mt-10">
        <i class="justify-self-center text-8xl fa-solid fa-dice-d20 text-white"></i>
        <div class="justify-self-center text-center uppercase tracking-widest text-mid3 font-bold text-3xl">
            Guide du joueur
        </div>
    </div>

    <div class="text-mid5 w-96 mt-5 text-center">
        <i class="fa-solid fa-chevron-left"></i>
        Entrez dans l'univers palpitant de Soul Spirit Online, un nouveau jeu en réalité virtuelle où vous pourrez parcourir les mondes pour récupérer les 12 bénédictions afin d'accéder au dernier monde stellaire...
        <i class="fa-solid fa-chevron-right"></i>
    </div>

    
    <a routerLink="/les-univers" class="mt-5 bg-light1 pt-2 px-2 pb-1 uppercase tracking-widest font-bold text-xs hover:scale-110 hover:bg-mid1">Découvrir les univers</a>

</section>
<footer class="text-right fixed bottom-2 right-10 text-xs uppercase tracking-widest text-mid4">
    <a href="https://guide-sso.nhei.fr/">https://guide-sso.nhei.fr/</a> | Tous droits réservés | Site réalisé par Nhei (2024)
</footer>