
aside>div span{
    margin:1em 0em .1em 0em;
    letter-spacing: .1em;
    font-weight: 200;
    color:var(--mid4);
    text-transform: uppercase;
    display: block;
}
.list-skill{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1em;
}


.filter-select{
    background:var(--white);
    color:var(--mid4);
}